/* $$ Root Variables */
:root{
    --gradient_athenacolor: linear-gradient(45deg, rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%,rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%) 1;
    --color_adam: rgb(24 , 177, 222);
    --color_athena: rgb(196, 41 , 80 );
    --color_eva: rgb(234, 39, 79);
    --color_jupiter: rgb(235, 233, 67 );
    --color_veritas: rgb(213, 55 , 146);
    --color_vulcanus: rgb(236, 133, 33 );
    --color_neptune: rgb(66 , 115, 185);
    --color_minerva: rgb(105, 59 , 144);
    --color_sol: rgb(246, 231, 134);
    --color_aero: rgb(251, 251, 251);
    --color_venus: rgb(115, 195, 125);
    --color_pluto: rgb(84 , 85 , 87 );
    --color_ceres: rgb(213, 224, 68 );
    --color_youtube: rgb(255,0,0);
    --color_twitch: rgb(169, 112, 255);
    --color_twitter: rgb(26, 140, 216);
}
/* $$ END */


/* --- Various headers for specific css classes --- */
.markdown-preview-view.adam h1 {border-color:var(--color_adam);}
.markdown-preview-view.adam h2 {border-color:rgb(21, 153, 192);}
.markdown-preview-view.adam h3 {border-color:rgb(19, 142, 178);}
.markdown-preview-view.adam h4 {border-color:rgb(14, 106, 133);}
.markdown-preview-view.adam h5 {border-color:rgb(7, 52, 65);}
.markdown-preview-view.adam h6 {border-color:rgb(8, 59, 74);}

/* --- Various headers for specific css classes --- */
.markdown-preview-view.aero h1 {border-color:var(--color_aero) ;}
.markdown-preview-view.aero h2 {border-color:rgb(218, 218, 218) ;}
.markdown-preview-view.aero h3 {border-color:rgb(218, 218, 218) ;}
.markdown-preview-view.aero h4 {border-color:rgb(151, 151, 151) ;}
.markdown-preview-view.aero h5 {border-color:rgb(117, 117, 117) ;}
.markdown-preview-view.aero h6 {border-color:rgb(84, 84, 84) ;}

/* --- Various headers for specific css classes --- */
.markdown-preview-view.athena h1 {border-color:var(--color_athena);}
.markdown-preview-view.athena h2 {border-color:rgb(170, 35, 69);}
.markdown-preview-view.athena h3 {border-color:rgb(157, 33, 64);}
.markdown-preview-view.athena h4 {border-color:rgb(118, 25, 48) ;}
.markdown-preview-view.athena h5 {border-color:rgb(91, 19, 37) ;}
.markdown-preview-view.athena h6 {border-color:rgb(65, 14, 27) ;}

/* --- Various headers for specific css classes --- */
.markdown-preview-view.ceres h1 {border-color:var(--color_ceres) ;}
.markdown-preview-view.ceres h2 {border-color:rgb(185, 194, 59) ;}
.markdown-preview-view.ceres h3 {border-color:rgb(170, 179, 54) ;}
.markdown-preview-view.ceres h4 {border-color:rgb(128, 134, 41) ;}
.markdown-preview-view.ceres h5 {border-color:rgb(99, 105, 32) ;}
.markdown-preview-view.ceres h6 {border-color:rgb(71, 75, 23) ;}

/* --- Various headers for specific css classes --- */
.markdown-preview-view.eva h1 {border-color:var(--color_eva);}
.markdown-preview-view.eva h2 {border-color:rgb(203, 34, 68);}
.markdown-preview-view.eva h3 {border-color:rgb(187, 31, 63);}
.markdown-preview-view.eva h4 {border-color:rgb(140, 23, 47);}
.markdown-preview-view.eva h5 {border-color:rgb(109, 18, 37);}
.markdown-preview-view.eva h6 {border-color:rgb(78, 13, 26);}

/* --- Various headers for specific css classes --- */
.markdown-preview-view.jupiter h1 {border-color:var(--color_jupiter) ;}
.markdown-preview-view.jupiter h2 {border-color:rgb(204, 202, 58) ;}
.markdown-preview-view.jupiter h3 {border-color:rgb(188, 186, 54) ;}
.markdown-preview-view.jupiter h4 {border-color:rgb(141, 140, 40) ;}
.markdown-preview-view.jupiter h5 {border-color:rgb(110, 109, 31) ;}
.markdown-preview-view.jupiter h6 {border-color:rgb(78, 78, 22) ;}

/* --- Various headers for specific css classes --- */
.markdown-preview-view.minerva h1 {border-color:var(--color_minerva) ;}
.markdown-preview-view.minerva h2 {border-color:rgb(91, 51, 125) ;}
.markdown-preview-view.minerva h3 {border-color:rgb(84, 47, 115) ;}
.markdown-preview-view.minerva h4 {border-color:rgb(63, 35, 86) ;}
.markdown-preview-view.minerva h5 {border-color:rgb(49, 28, 67) ;}
.markdown-preview-view.minerva h6 {border-color:rgb(35, 20, 48) ;}

/* --- Various headers for specific css classes --- */
.markdown-preview-view.neptune h1 {border-color:var(--color_neptune) ;}
.markdown-preview-view.neptune h2 {border-color:rgb(57, 100, 160) ;}
.markdown-preview-view.neptune h3 {border-color:rgb(53, 92, 148) ;}
.markdown-preview-view.neptune h4 {border-color:rgb(40, 69, 111) ;}
.markdown-preview-view.neptune h5 {border-color:rgb(31, 54, 86) ;}
.markdown-preview-view.neptune h6 {border-color:rgb(14, 24, 39) ;}

/* --- Various headers for specific css classes --- */
.markdown-preview-view.pluto h1 {border-color:var(--color_pluto) ;}
.markdown-preview-view.pluto h2 {border-color:rgb(73, 74, 75) ;}
.markdown-preview-view.pluto h3 {border-color:rgb(67, 68, 70) ;}
.markdown-preview-view.pluto h4 {border-color:rgb(50, 51, 52) ;}
.markdown-preview-view.pluto h5 {border-color:rgb(39, 40, 41) ;}
.markdown-preview-view.pluto h6 {border-color:rgb(28, 28, 29) ;}

/* --- Various headers for specific css classes --- */
.markdown-preview-view.minerva h1 {border-color:var(--color_minerva) ;}
.markdown-preview-view.minerva h2 {border-color:rgb(91, 51, 125) ;}
.markdown-preview-view.minerva h3 {border-color:rgb(84, 47, 115) ;}
.markdown-preview-view.minerva h4 {border-color:rgb(63, 35, 86) ;}
.markdown-preview-view.minerva h5 {border-color:rgb(49, 28, 67) ;}
.markdown-preview-view.minerva h6 {border-color:rgb(35, 20, 48) ;}

/* --- Various headers for specific css classes --- */
.markdown-preview-view.venus h1 {border-color:var(--color_venus) ;}
.markdown-preview-view.venus h2 {border-color:rgb(100, 169, 108) ;}
.markdown-preview-view.venus h3 {border-color:rgb(92, 156, 100) ;}
.markdown-preview-view.venus h4 {border-color:rgb(69, 117, 75) ;}
.markdown-preview-view.venus h5 {border-color:rgb(54, 91, 58) ;}
.markdown-preview-view.venus h6 {border-color:rgb(38, 65, 42) ;}

/* --- Various headers for specific css classes --- */
.markdown-preview-view.veritas h1 {border-color:var(--color_veritas) ;}
.markdown-preview-view.veritas h2 {border-color:rgb(186, 48, 127) ;}
.markdown-preview-view.veritas h3 {border-color:rgb(172, 44, 117) ;}
.markdown-preview-view.veritas h4 {border-color:rgb(129, 33, 88) ;}
.markdown-preview-view.veritas h5 {border-color:rgb(100, 26, 68) ;}
.markdown-preview-view.veritas h6 {border-color:rgb(72, 18, 49) ;}

/* --- Various headers for specific css classes --- */
.markdown-preview-view.vulcanus h1 {border-color:var(--color_vulcanus) ;}
.markdown-preview-view.vulcanus h2 {border-color:rgb(205, 115, 29) ;}
.markdown-preview-view.vulcanus h3 {border-color:rgb(189, 106, 26) ;}
.markdown-preview-view.vulcanus h4 {border-color:rgb(142, 80, 20) ;}
.markdown-preview-view.vulcanus h5 {border-color:rgb(110, 62, 15) ;}
.markdown-preview-view.vulcanus h6 {border-color:rgb(110, 62, 15) ;}

/* --- Various headers for specific css classes --- */
.markdown-preview-view.athenacolor h1 { 
    border-image: var(--gradient_athenacolor);
}

/* --- Various headers for specific css classes --- */
.markdown-preview-view.twitch h1 {border-color:var(--color_twitch);}
.markdown-preview-view.twitch h2 {border-color:rgb(146, 97, 221) ;}
.markdown-preview-view.twitch h3 {border-color:rgb(135, 90, 204) ;}
.markdown-preview-view.twitch h4 {border-color:rgb(101, 67, 153) ;}
.markdown-preview-view.twitch h5 {border-color:rgb(79, 52, 119) ;}
.markdown-preview-view.twitch h6 {border-color:rgb(56, 37, 85) ;}

/* --- Various headers for specific css classes --- */
.markdown-preview-view.twitter h1 {border-color:var(--color_twitter);}
.markdown-preview-view.twitter h2 {border-color:rgb(22, 121, 187) ;}
.markdown-preview-view.twitter h3 {border-color:rgb(21, 112, 173) ;}
.markdown-preview-view.twitter h4 {border-color:rgb(16, 84, 130) ;}
.markdown-preview-view.twitter h5 {border-color:rgb(12, 65, 101) ;}
.markdown-preview-view.twitter h6 {border-color:rgb(9, 47, 72) ;}

/* --- Various headers for specific css classes --- */
.markdown-preview-view.youtube h1 {border-color:var(--color_youtube);}
.markdown-preview-view.youtube h2 {border-color:rgb(221, 0, 0) ;}
.markdown-preview-view.youtube h3 {border-color:rgb(255, 0, 0) ;}
.markdown-preview-view.youtube h4 {border-color:rgb(153, 0, 0) ;}
.markdown-preview-view.youtube h5 {border-color:rgb(119, 0, 0) ;}
.markdown-preview-view.youtube h6 {border-color:rgb(85, 0, 0) ;}
span.rem {
    color:rgba(0, 0, 0, 0.315) !important;
}

/* --- All headers derive from this --- */
.markdown-preview-view h1,h2,h3,h4,h5,h6{
    background: rgb(25,25,25);
    background: linear-gradient(90deg, var(--background-secondary) 75%, var(--background-primary) 100%);
    border-radius: .2em;
    border-bottom-style: solid;
    border-bottom-width: 5px;
}

.markdown-rendered h1 {
    --color: #fff;
    color:var(--color);
    padding: 12px;  
    padding-left: 35px;
}

.markdown-rendered h2 {
    --color: #DDD;
    color:var(--color);
    padding: 10px;  
    padding-left: 35px;
}

.markdown-rendered h3 {
    --color: #CCC;
    color:var(--color);
    padding: 8px;  
    padding-left: 35px;
}

.markdown-rendered h4 {
    --color: #999;
    color:var(--color);
    padding: 6px;  
    padding-left: 35px;
}

.markdown-rendered h5 {
    --color: #777;
    color:var(--color);
    padding: 4px;  
    padding-left: 35px;
}

.markdown-rendered h6 {
    --color: #555;
    color:var(--color);
    padding: 2px;  
    padding-left: 35px;
}

