/* ---------------------------------------------------------------- */
/* - All headers derive from this - */
/* ---------------------------------------------------------------- */
.markdown-embed h1,
.markdown-embed h2,
.markdown-embed h3,
.markdown-embed h4,
.markdown-embed h5,
.markdown-embed h6,
.markdown-embed h1.publish-article-heading,
.markdown-embed h2.publish-article-heading,
.markdown-embed h3.publish-article-heading,
.markdown-embed h4.publish-article-heading,
.markdown-embed h5.publish-article-heading,
.markdown-embed h6.publish-article-heading {
    text-align: left;
    background-color: rgb(25,25,25);
    background-image: linear-gradient(90deg, rgb(22, 22, 22) 75%, rgb(32, 32, 32) 100%);
    border-radius: 0.2rem;
    border-bottom-style: solid;
    border-bottom-width: 5px;
}