/* $$ Root Variables */
:root{
    --header_background: rgb(25, 25, 25) ;
    --header_border: rgb(45, 45, 45) ;
}
/* $$ END */

h1,h2,h3,h4,h5,h6{
    color:white;
    
    background: fixed;
    background-color: var(--header_background);

    border-radius: .2em;
    border-bottom-width: 1em;
    /* border-color: var(--header_border); */
    /* border-width: 1px; */
    /* border-style: solid; */

    padding-left: .25em;

}
