/* $$ Root Variables */
:root{
    /* =+= Derived from root =+= */
        /* Primary AI Colors */
        /* Athena Application colors */
        /* Website colors */

    /* =+= Custom for this file =+= */
}
/* $$ END */

/* --- All headers derive from this --- */
h1,h2,h3,h4,h5,h6{
    
    background: fixed;
    background-color: rgb(25, 25, 25);
    border-radius: .2em;
    border-bottom-style: solid;
    border-bottom-width: .2em;

    padding-left: .25em;

}

h1 {
    --color: #fff;
    color:var(--color) !important;
    border-color:var(--color);

}

h2 {
    --color: #DDD;
    color:var(--color) !important;
    border-color:var(--color);

}

h3 {
    --color: #CCC;
    color:var(--color) !important;
    border-color:var(--color);

}

h4 {
    --color: #999;
    color:var(--color) !important;
    border-color:var(--color);

}

h5 {
    --color: #777;
    color:var(--color) !important;
    border-color:var(--color);

}

h6 {
    --color: #555;
    color:var(--color) !important;
    border-color:var(--color);

}