/* $$ Root Variables */
:root{
    /* =+= Derived from root =+= */
        /* Primary AI Colors */

         /* Application colors */

    /* =+= Custom for this file =+= */
    --header_background: rgb(25, 25, 25) ;
    --header_border: rgb(45, 45, 45) ;
}
/* $$ END */

/* --- All headers derive from this --- */
h1,h2,h3,h4,h5,h6{
    
    background: fixed;
    background-color: var(--header_background);

    border-radius: .2em;
    border-color: var(--header_border); 
    border-bottom-style: solid;
    border-bottom-width: .2em;

    padding-left: .25em;

}

h1{
    --color: #ffffff;
    color:var(--color);
    border-color:var(--color);

}