/* $$ Root Variables */
:root{
    /* =+= Derived from root =+= */
        /* Primary AI Colors */
        /* Athena Application colors */
        /* Website colors */
        --color_discord: None;

    /* =+= Custom for this file =+= */
}
/* $$ END */

/* --- Various headers for specific css classes --- */
.markdown-rendered.twitch h1, .markdown-rendered.twitch h1.publish-article-heading, h1.twitch {border-color:var(--color_twitch);}
.markdown-rendered.twitch h2, .markdown-rendered.twitch h2.publish-article-heading, h2.twitch {border-color:rgb(146, 97, 221) ;}
.markdown-rendered.twitch h3, .markdown-rendered.twitch h3.publish-article-heading, h3.twitch {border-color:rgb(135, 90, 204) ;}
.markdown-rendered.twitch h4, .markdown-rendered.twitch h4.publish-article-heading, h4.twitch {border-color:rgb(101, 67, 153) ;}
.markdown-rendered.twitch h5, .markdown-rendered.twitch h5.publish-article-heading, h5.twitch {border-color:rgb(79, 52, 119) ;}
.markdown-rendered.twitch h6, .markdown-rendered.twitch h6.publish-article-heading, h6.twitch {border-color:rgb(56, 37, 85) ;}