/* $$ Root Variables */
:root{
    --header_background: rgb(25, 25, 25) ;
    --header_border: rgb(45, 45, 45) ;
    --color_adam: rgb(24 , 177, 222);
    --color_athena: rgb(196, 41 , 80 );
    --color_eva: rgb(234, 39 , 79 );
    --color_jupiter: rgb(235, 233, 67 );
    --color_veritas: rgb(213, 55 , 146);
    --color_vulcanus: rgb(236, 133, 33 );
    --color_neptune: rgb(66 , 115, 185);
    --color_minerva: rgb(105, 59 , 144);
    --color_sol: rgb(246, 231, 134);
    --color_aero: rgb(251, 251, 251);
    --color_venus: rgb(115, 195, 125);
    --color_pluto: rgb(84 , 85 , 87 );
    --color_ceres: rgb(213, 224, 68 );
}
/* $$ END */


/* --- All headers derive from this --- */
h1,h2,h3,h4,h5,h6{
    color:white;
    
    background: fixed;
    background-color: var(--header_background);

    border-radius: .2em;
    border-bottom-color: var(--header_border);
    border-bottom-style: solid;
    border-bottom-width: .2em;

    padding-left: .25em;

}


.alfa{
    color: aliceblue;
}

