:root{
    --color_adam: royalblue
    "something":"blue"
}
}
}}}}}}
:root{
    --color_adam: royalblue
    --color_eva: hotpink
}
}
}}}}}}
:root{
    --color_adam: royalblue
    --color_eva: hotpink
}
}
}}}}}}
