/* $$ Root Variables */
:root{
    --color: #555;
    --gradient_athenacolor: linear-gradient(45deg, rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%,rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%) 1;
    --color_adam: rgb(24 , 177, 222);
    --color_athena: rgb(196, 41 , 80 );
    --color_eva: rgb(234, 39 , 79 );
    --color_jupiter: rgb(235, 233, 67 );
    --color_veritas: rgb(213, 55 , 146);
    --color_vulcanus: rgb(236, 133, 33 );
    --color_neptune: rgb(66 , 115, 185);
    --color_minerva: rgb(105, 59 , 144);
    --color_sol: rgb(246, 231, 134);
    --color_aero: rgb(251, 251, 251);
    --color_venus: rgb(115, 195, 125);
    --color_pluto: rgb(84 , 85 , 87 );
    --color_ceres: rgb(213, 224, 68 );
}
/* $$ END */


/* --- All headers derive from this --- */
h1,h2,h3,h4,h5,h6{
    
    background: fixed;
    background-color: rgb(25, 25, 25);
    border-radius: .2em;
    border-bottom-style: solid;
    border-bottom-width: .2em;

    padding-left: .25em;

}

h1 {
    --color: #fff;
    color:var(--color) !important;
    border-color:var(--color);

}

h2 {
    --color: #DDD;
    color:var(--color) !important;
    border-color:var(--color);

}

h3 {
    --color: #CCC;
    color:var(--color) !important;
    border-color:var(--color);

}

h4 {
    --color: #999;
    color:var(--color) !important;
    border-color:var(--color);

}

h5 {
    --color: #777;
    color:var(--color) !important;
    border-color:var(--color);

}

h6 {
    --color: #555;
    color:var(--color) !important;
    border-color:var(--color);

}

.alfa{
    color: aliceblue;
}

/* --- Various headers for specific css classes --- */
.markdown-preview-view.Adam h1 {border-color:var(--color_adam);}
.markdown-preview-view.Adam h2 {border-color:rgb(21, 153, 192);}
.markdown-preview-view.Adam h3 {border-color:rgb(19, 142, 178);}
.markdown-preview-view.Adam h4 {border-color:rgb(14, 106, 133);}
.markdown-preview-view.Adam h5 {border-color:rgb(7, 52, 65);}
.markdown-preview-view.Adam h6 {border-color:rgb(8, 59, 74);}

/* --- Various headers for specific css classes --- */
.markdown-preview-view.AthenaColor h1 { 
    border-image: var(--gradient_athenacolor);
}

