.markdown-rendered.cleanEmbed .markdown-embed,
.markdown-rendered.cleanEmbed .markdown-embed .markdown-preview-view {
    border: none;
    padding: 0px;
    margin: 0px;
}

.markdown-rendered.cleanEmbed .markdown-embed-title, 
.markdown-rendered.cleanEmbed .markdown-embed-link {
    display: none;
}