/* $$ Root Variables */
:root{
    /* =+= Derived from root =+= */
        /* Primary AI Colors */
        /* Athena Application colors */
        /* Website colors */

    /* =+= Custom for this file =+= */
}
/* $$ END */

/* --- All headers derive from this --- */
.markdown-rendered h1, .markdown-rendered h2, .markdown-rendered h3, .markdown-rendered h4, .markdown-rendered h5, .markdown-rendered h6,
.markdown-rendered h1.publish-article-heading, .markdown-rendered h2.publish-article-heading, .markdown-rendered h3.publish-article-heading, .markdown-rendered h4.publish-article-heading, .markdown-rendered h5.publish-article-heading, .markdown-rendered h6.publish-article-heading
{
    background: rgb(25,25,25);
    background: linear-gradient(90deg, var(--background-secondary) 75%, var(--background-primary) 100%);
    border-radius: .2em;
    border-bottom-style: solid;
    border-bottom-width: 5px;
}

.markdown-rendered h1 , .markdown-rendered h1.publish-article-heading {
    --color: #fff;
    color:var(--color);
    padding: 12px;  
    padding-left: 35px;
    font-size: 2em;
}

.markdown-rendered h2 , .markdown-rendered h2.publish-article-heading{
    --color: #DDD;
    color:var(--color);
    padding: 10px;  
    padding-left: 35px;
    font-size: 1.6em;
}

.markdown-rendered h3, .markdown-rendered h3.publish-article-heading {
    --color: #CCC;
    color:var(--color);
    padding: 8px;  
    padding-left: 35px;
    font-size: 1.37em;
}

.markdown-rendered h4, .markdown-rendered h4.publish-article-heading {
    --color: #999;
    color:var(--color);
    padding: 6px;  
    padding-left: 35px;
    font-size: 1.25em;
}

.markdown-rendered h5, .markdown-rendered h5.publish-article-heading {
    --color: #777;
    color:var(--color);
    padding: 4px;  
    padding-left: 35px;
    font-size: 1.12em;
}

.markdown-rendered h6, .markdown-rendered h6.publish-article-heading {
    --color: #555;
    color:var(--color);
    padding: 2px;  
    padding-left: 35px;
    font-size: 1.12em;
}