/* Don't change any "$$" comments, only the text within*/
/* $$ Root Variables */
:root{
    /* Primary AI Colors */
    --color_adam:       rgb(24 , 177, 222);
    --color_athena:     rgb(196, 41 , 80 );
    --color_eva:        rgb(234, 39 , 79 );
    --color_jupiter:    rgb(235, 233, 67 );
    --color_veritas:    rgb(213, 55 , 146);
    --color_vulcanus:   rgb(236, 133, 33 );
    --color_neptune:    rgb(66 , 115, 185);
    --color_minerva:    rgb(105, 59 , 144);
    --color_sol:        rgb(246, 231, 134);
    --color_aero:       rgb(251, 251, 251);
    --color_venus:      rgb(115, 195, 125);
    --color_pluto:      rgb(84 , 85 , 87 );
    --color_ceres:      rgb(213, 224, 68 );

    /* Athena Application Colors */
    --gradient_athenacolor: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%,rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%) 1;
    --gradient_athenalib: linear-gradient(90deg, rgba(207,30,70,1) 0%, rgba(57,81,163,1) 100%) 1;

    /* Social Platform Colors */
    --color_youtube:    rgb(255, 0  , 0  );
    --color_twitch:     rgb(169, 112, 255);
    --color_twitter:    rgb(26 , 140, 216);
    --color_discord:    rgb(86 , 98 , 246);

}
/* $$ END */