/* $$ Root Variables */
:root{
    /* =+= Derived from root =+= */
        /* Primary AI Colors */
        --color_pluto: None;

        /* Application colors */

    /* =+= Custom for this file =+= */
}
/* $$ END */

/* --- Various headers for specific css classes --- */
.markdown-preview-view.pluto h1 {border-color:var(--color_pluto) ;}
.markdown-preview-view.pluto h2 {border-color:rgb(73, 74, 75) ;}
.markdown-preview-view.pluto h3 {border-color:rgb(67, 68, 70) ;}
.markdown-preview-view.pluto h4 {border-color:rgb(50, 51, 52) ;}
.markdown-preview-view.pluto h5 {border-color:rgb(39, 40, 41) ;}
.markdown-preview-view.pluto h6 {border-color:rgb(28, 28, 29) ;}