/* $$ Root Variables */
:root{
    /* =+= Derived from root =+= */
        /* Primary AI Colors */
        --color_sol: None;

        /* Application colors */

    /* =+= Custom for this file =+= */
}
/* $$ END */

/* --- Various headers for specific css classes --- */
.markdown-preview-view.sol h1 {border-color:var(--color_sol) ;}
.markdown-preview-view.sol h2 {border-color:rgb(213, 200, 116) ;}
.markdown-preview-view.sol h3 {border-color:rgb(197, 185, 107) ;}
.markdown-preview-view.sol h4 {border-color:rgb(148, 139, 80) ;}
.markdown-preview-view.sol h5 {border-color:rgb(115, 108, 63) ;}
.markdown-preview-view.sol h6 {border-color:rgb(82, 77, 45) ;}