/* $$ Root Variables */
:root{
    /* =+= Derived from root =+= */
        /* Primary AI Colors */
        /* Athena Application colors */
        /* Website colors */
        --color_youtube: None;

    /* =+= Custom for this file =+= */
}
/* $$ END */

/* --- Various headers for specific css classes --- */
.markdown-rendered.youtube h1, .markdown-rendered.youtube h1.publish-article-heading, h1.youtube {border-color:var(--color_youtube);}
.markdown-rendered.youtube h2, .markdown-rendered.youtube h2.publish-article-heading, h2.youtube {border-color:rgb(221, 0, 0) ;}
.markdown-rendered.youtube h3, .markdown-rendered.youtube h3.publish-article-heading, h3.youtube {border-color:rgb(255, 0, 0) ;}
.markdown-rendered.youtube h4, .markdown-rendered.youtube h4.publish-article-heading, h4.youtube {border-color:rgb(153, 0, 0) ;}
.markdown-rendered.youtube h5, .markdown-rendered.youtube h5.publish-article-heading, h5.youtube {border-color:rgb(119, 0, 0) ;}
.markdown-rendered.youtube h6, .markdown-rendered.youtube h6.publish-article-heading, h6.youtube {border-color:rgb(85, 0, 0) ;}