/* $$ Root Variables */
:root{
    /* =+= Derived from root =+= */
        /* Primary AI Colors */
        --color_aero: None;

        /* Application colors */
        /* Website colors */

    /* =+= Custom for this file =+= */
}
/* $$ END */

/* --- Various headers for specific css classes --- */
.markdown-rendered.aero h1, h1.publish-article-heading {border-color:var(--color_aero) ;}
.markdown-rendered.aero h2, h2.publish-article-heading {border-color:rgb(218, 218, 218) ;}
.markdown-rendered.aero h3, h3.publish-article-heading {border-color:rgb(218, 218, 218) ;}
.markdown-rendered.aero h4, h4.publish-article-heading {border-color:rgb(151, 151, 151) ;}
.markdown-rendered.aero h5, h5.publish-article-heading {border-color:rgb(117, 117, 117) ;}
.markdown-rendered.aero h6, h6.publish-article-heading {border-color:rgb(84, 84, 84) ;}