/* $$ Root Variables */
:root{
    /* =+= Derived from root =+= */
        /* Primary AI Colors */
        --color_minerva: None;

        /* Application colors */
        /* Website colors */

    /* =+= Custom for this file =+= */
}
/* $$ END */

/* --- Various headers for specific css classes --- */
.markdown-rendered.minerva h1, .markdown-rendered.minerva h1.publish-article-heading, h1.minerva {border-color:var(--color_minerva) ;}
.markdown-rendered.minerva h2, .markdown-rendered.minerva h2.publish-article-heading, h2.minerva {border-color:rgb(91, 51, 125) ;}
.markdown-rendered.minerva h3, .markdown-rendered.minerva h3.publish-article-heading, h3.minerva {border-color:rgb(84, 47, 115) ;}
.markdown-rendered.minerva h4, .markdown-rendered.minerva h4.publish-article-heading, h4.minerva {border-color:rgb(63, 35, 86) ;}
.markdown-rendered.minerva h5, .markdown-rendered.minerva h5.publish-article-heading, h5.minerva {border-color:rgb(49, 28, 67) ;}
.markdown-rendered.minerva h6, .markdown-rendered.minerva h6.publish-article-heading, h6.minerva {border-color:rgb(35, 20, 48) ;}