/* $$ Root Variables */
:root{
    /* =+= Derived from root =+= */
        /* Primary AI Colors */
        --color_venus: None;

        /* Application colors */
        /* Website colors */

    /* =+= Custom for this file =+= */
}
/* $$ END */

/* --- Various headers for specific css classes --- */
.markdown-rendered.venus h1, h1.publish-article-heading {border-color:var(--color_venus) ;}
.markdown-rendered.venus h2, h2.publish-article-heading {border-color:rgb(100, 169, 108) ;}
.markdown-rendered.venus h3, h3.publish-article-heading {border-color:rgb(92, 156, 100) ;}
.markdown-rendered.venus h4, h4.publish-article-heading {border-color:rgb(69, 117, 75) ;}
.markdown-rendered.venus h5, h5.publish-article-heading {border-color:rgb(54, 91, 58) ;}
.markdown-rendered.venus h6, h6.publish-article-heading {border-color:rgb(38, 65, 42) ;}