/* $$ Root Variables */
:root{
    /* =+= Derived from root =+= */
        /* Primary AI Colors */
        --color_veritas: None;

        /* Application colors */
        /* Website colors */

    /* =+= Custom for this file =+= */
}
/* $$ END */

/* --- Various headers for specific css classes --- */
.markdown-rendered.veritas h1, h1.publish-article-heading {border-color:var(--color_veritas) ;}
.markdown-rendered.veritas h2, h2.publish-article-heading {border-color:rgb(186, 48, 127) ;}
.markdown-rendered.veritas h3, h3.publish-article-heading {border-color:rgb(172, 44, 117) ;}
.markdown-rendered.veritas h4, h4.publish-article-heading {border-color:rgb(129, 33, 88) ;}
.markdown-rendered.veritas h5, h5.publish-article-heading {border-color:rgb(100, 26, 68) ;}
.markdown-rendered.veritas h6, h6.publish-article-heading {border-color:rgb(72, 18, 49) ;}