/* $$ Root Variables */
:root{
    /* =+= Derived from root =+= */
        /* Primary AI Colors */
        --color_jupiter: None;

        /* Application colors */
        /* Website colors */

    /* =+= Custom for this file =+= */
}
/* $$ END */

/* --- Various headers for specific css classes --- */
.markdown-rendered.jupiter h1, .markdown-rendered.jupiter h1.publish-article-heading, h1.jupiter {border-color:var(--color_jupiter) ;}
.markdown-rendered.jupiter h2, .markdown-rendered.jupiter h2.publish-article-heading, h2.jupiter {border-color:rgb(204, 202, 58) ;}
.markdown-rendered.jupiter h3, .markdown-rendered.jupiter h3.publish-article-heading, h3.jupiter {border-color:rgb(188, 186, 54) ;}
.markdown-rendered.jupiter h4, .markdown-rendered.jupiter h4.publish-article-heading, h4.jupiter {border-color:rgb(141, 140, 40) ;}
.markdown-rendered.jupiter h5, .markdown-rendered.jupiter h5.publish-article-heading, h5.jupiter {border-color:rgb(110, 109, 31) ;}
.markdown-rendered.jupiter h6, .markdown-rendered.jupiter h6.publish-article-heading, h6.jupiter {border-color:rgb(78, 78, 22) ;}